package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${package}.dao.${className}Dao;
import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;



@Service("${classname}Service")
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Entity, ${pk.attrType}> implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	

}
